.stepper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0f6f9f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}

.active .step-number {
  background-color: #016795;
  color: #fff;
}

.complete .step-number {
  background-color: #68b7de;
  color: #fff;
}

.student-banner {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../public/assets/images/open-book.jpg");
}

.home-banner .banner {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../public/assets/images/home_banner.png");
  background-size: cover;
}

.footer > ul > li {
  padding: 0.75rem;
}
.footer > ul > li > span:hover {
  cursor: pointer;
  color: #0e0d0d;
  text-shadow: 2x 2px white;
  transition: 0.2s;
}

.sidebar {
  width: 30rem;
  max-width: 15rem;
  height: auto;
}
.sidebar > ul {
  padding: 0px 5px 5px 5px;
}

.sidebar > ul > li{
  padding: 0.7rem;
  background: rgb(245, 245, 245);
  width: 100%;
  cursor: pointer;
}
.sidebar > ul > li:hover{
  background: rgb(185, 184, 184);
}

.sidebar > ul > li > span {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}